/steinhart-hart.X/build/
/steinhart-hart.X/dist/
/gpio_class.X/build/
/gpio_class.X/dist/
/GPIO_melhorado.X/dist/
/GPIO_melhorado.X/build/
/GPIO_V1.X/build/
/GPIO_V1.X/dist/
/GPIO_Port.X/build/
/GPIO_Port.X/dist/
/UART.X/build/
/UART.X/dist/