/steinhart-hart.X/build/
/steinhart-hart.X/dist/
/gpio_class.X/build/
/gpio_class.X/dist/
/GPIO_melhorado.X/dist/
/GPIO_melhorado.X/build/
/GPIO_V1.X/build/
/GPIO_V1.X/dist/
/GPIO_Port.X/build/
/GPIO_Port.X/dist/
/UART.X/build/
/UART.X/dist/
/GPIO_V3.X/build/
/GPIO_V3.X/dist/
/UART_interrupt.X/build/
/UART_interrupt.X/dist/
/UART_fila.X/build/
/UART_fila.X/dist/
/Timer_Timeout.X/build/
/Timer_Timeout.X/dist/
/a3_correcao.X/build/
/a3_correcao.X/dist/
/extint.X/build/
/extint.X/dist/
/GPIO_extint.X/dist/
/GPIO_extint.X/build/
/SPI.X/build/
/SPI.X/dist/
/SPI_testUNO.X/build/
/SPI_testUNO.X/dist/
/SPI_LISTA.X/build/
/SPI_LISTA.X/dist/